# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Database and Secrets
.env
db.sqlite3

# Media and Assets
media/
# You can keep this specific one if you only want to ignore QR codes:
# media/qr_codes/

# macOS
.DS_Store